body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    background-color: black;
    font-family: 'lg';
    src: url("lg.eot");
    src: url("lg.eot") format("embedded-opentype"), url("lg.woff") format("woff"), url("lg.ttf") format("truetype"), url("lg.svg#lg") format("svg");
    font-weight: normal;
    font-style: normal;
}

* { box-sizing: border-box; }


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  height: 40px;
}

.copy {
  margin-top: 10px;
  color: #999999;
}

.contact-text {
  color: #999999;
}

.navbar-inverse {
  background-color: black;
}

.gallery > div > ul {
  margin-bottom: 0;
}

.gallery > div > ul > li {
  float: left;
  margin-bottom: 15px;
  margin-right: 20px;
  width: 200px;
  border: 3px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
}

.gallery > div > ul > li > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.gallery > div > ul > li > img:hover {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.gallery.dark > div > ul > li, {
  border: 3px solid #04070a;
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: #31708f;
}

.home .gallery {
  padding-bottom: 80px;
}

.grid {
  max-width: 1200px;
}

.grid-item {
  float: left;
  width: auto;
  height: auto;
}

/* Sidebar Styles */

.sidebar-nav {
    width: 250px;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media screen and (max-width: 768px) {
  .gallery > div > ul > li  {
    width: 120px;
  }
}
